*.cs
*.pkl
*.mrc
*.npy
*.txt
*.par
*.star
aux_functions/__pycache__/compare_poses.cpython-39.pyc


delete_me/refine3d_exps/par_92x/cryodrgn_output/*
delete_me/refine3d_exps/par_orig/cryodrgn_output/*

workflow/experiments
