*.cs
*.pkl
*.npy
*.txt
*.par
*.star
*.png
*.pyc
*.log

delete_me/refine3d_exps/par_92x/cryodrgn_output/*
delete_me/refine3d_exps/par_orig/cryodrgn_output/*

workflow/experiments
delete_me/debugging_filtered_iteration/*
delete_me/debugging_filtered_iteration2/*
delete_me/debugging_filtered_iteration3/*
delete_me/debugging_filtered_iteration4/*
delete_me/debugging_filtered_iteration5/*
delete_me/*

*.mrc
aux_functions/.ipynb_checkpoints/*

aux_functions/.ipynb_checkpoints/test-checkpoint.ipynb
